# üêº B√ÄI 1: PANDAS BASICS FOR DATA ENGINEERING

## M·ª•c ti√™u:
- DataFrame operations
- Data selection & filtering
- Data manipulation
- Merging & joining
- Grouping & aggregation

In [1]:
# Setup
import pandas as pd
import numpy as np
import sys
sys.path.append('/home/jovyan/week-03-04-python-etl/scripts')

from db_connector import DatabaseConnector

# Initialize DB connection
db = DatabaseConnector()

print("‚úÖ Setup complete!")
print(f"Pandas version: {pd.__version__}")

2025-12-17 17:27:05,169 - db_connector - INFO - Database connector initialized for data_engineer@postgres

‚úÖ Setup complete!
Pandas version: 2.1.4

---
## üìä PART 1: Loading Data from Database

In [2]:
# Load customers data
customers_df = db.read_sql("""
    SELECT * FROM analytics.customers
    LIMIT 100
""")

print(f"Shape: {customers_df.shape}")
print(f"\nColumns: {customers_df.columns.tolist()}")
print(f"\nData types:\n{customers_df.dtypes}")

customers_df.head()

/home/jovyan/week-03-04-python-etl/scripts/db_connector.py:105: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn, params=params)
2025-12-17 17:27:06,856 - db_connector - INFO - Query executed, DataFrame shape: (100, 8)

Shape: (100, 8)

Columns: ['customer_id', 'customer_name', 'email', 'country', 'signup_date', 'customer_segment', 'created_at', 'updated_at']

Data types:
customer_id                  int64
customer_name               object
email                       object
country                     object
signup_date                 object
customer_segment            object
created_at          datetime64[ns]
updated_at          datetime64[ns]
dtype: object

,customer_id,customer_name,email,country,signup_date,customer_segment,created_at,updated_at
0,1,Timothy Vincent,maria99@example.org,Azerbaijan,2023-06-18,Standard,2025-12-14 10:05:15.115901,2025-12-14 10:05:15.115901
1,2,Edward Williamson,mcdonaldlisa@example.com,Anguilla,2025-05-09,Basic,2025-12-14 10:05:15.115901,2025-12-14 10:05:15.115901
2,3,Jessica Reed,sdavis@example.net,Thailand,2025-03-11,Basic,2025-12-14 10:05:15.115901,2025-12-14 10:05:15.115901
3,4,Carrie Davis,taylorleslie@example.org,Cote d'Ivoire,2023-11-01,Standard,2025-12-14 10:05:15.115901,2025-12-14 10:05:15.115901
4,5,Rita Fuller,gonzalezsamantha@example.org,Greece,2023-07-26,Premium,2025-12-14 10:05:15.115901,2025-12-14 10:05:15.115901

In [3]:
# Load orders data
orders_df = db.read_sql("""
    SELECT * FROM analytics.orders
    WHERE order_date >= CURRENT_DATE - INTERVAL '90 days'
""")

print(f"Orders shape: {orders_df.shape}")
orders_df.head()

/home/jovyan/week-03-04-python-etl/scripts/db_connector.py:105: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn, params=params)
2025-12-17 17:27:11,077 - db_connector - INFO - Query executed, DataFrame shape: (1238, 7)

Orders shape: (1238, 7)

,order_id,customer_id,order_date,order_status,total_amount,created_at,updated_at
0,3,967,2025-11-10,completed,5775.18,2025-12-14 10:05:15.622466,2025-12-14 10:05:15.622466
1,31,265,2025-09-29,completed,2174.52,2025-12-14 10:05:15.622466,2025-12-14 10:05:15.622466
2,32,381,2025-09-27,completed,9754.74,2025-12-14 10:05:15.622466,2025-12-14 10:05:15.622466
3,36,363,2025-11-03,cancelled,6446.65,2025-12-14 10:05:15.622466,2025-12-14 10:05:15.622466
4,41,144,2025-11-02,cancelled,4170.03,2025-12-14 10:05:15.622466,2025-12-14 10:05:15.622466

---
## üéØ EXERCISE 1: Basic DataFrame Operations

In [4]:
# TODO: Display basic info about customers_df
# Hint: Use .info(), .describe(), .shape

# YOUR CODE HERE

In [5]:
# TODO: Check for missing values
# Hint: Use .isna().sum()

# YOUR CODE HERE

In [6]:
# TODO: Get unique values in 'country' column
# Hint: Use .unique() or .value_counts()

# YOUR CODE HERE

---
## üéØ EXERCISE 2: Data Selection & Filtering

In [7]:
# TODO: Select customers from Vietnam
# YOUR CODE HERE
vietnam_customers = None

print(f"Vietnam customers: {len(vietnam_customers)}")
vietnam_customers.head()

TypeError: object of type 'NoneType' has no len()

In [ ]:
# TODO: Select customers with 'Premium' segment
# YOUR CODE HERE
premium_customers = None

premium_customers.head()

In [8]:
# TODO: Select orders with total_amount > 1000
# YOUR CODE HERE
high_value_orders = None

print(f"High value orders: {len(high_value_orders)}")
high_value_orders.head()

TypeError: object of type 'NoneType' has no len()

---
## üéØ EXERCISE 3: Data Manipulation

In [ ]:
# TODO: Add new column 'customer_name_upper' with uppercase names
# YOUR CODE HERE

customers_df.head()

In [ ]:
# TODO: Create 'order_year' and 'order_month' from order_date
# Hint: Use pd.to_datetime() and .dt accessor

# YOUR CODE HERE

orders_df[['order_date', 'order_year', 'order_month']].head()

In [ ]:
# TODO: Categorize orders by amount
# Small: < 500, Medium: 500-2000, Large: > 2000
# Hint: Use pd.cut() or np.where()

# YOUR CODE HERE

orders_df['order_category'].value_counts()

---
## üéØ EXERCISE 4: Merging DataFrames

In [ ]:
# TODO: Merge customers with orders (INNER JOIN)
# YOUR CODE HERE
customer_orders = None

print(f"Merged shape: {customer_orders.shape}")
customer_orders.head()

In [ ]:
# TODO: LEFT JOIN to keep all customers
# YOUR CODE HERE
all_customers_orders = None

# Check customers without orders
no_orders = all_customers_orders[all_customers_orders['order_id'].isna()]
print(f"Customers without orders: {len(no_orders)}")

---
## üéØ EXERCISE 5: Grouping & Aggregation

In [ ]:
# TODO: Calculate total revenue by country
# YOUR CODE HERE
revenue_by_country = None

revenue_by_country

In [ ]:
# TODO: Calculate multiple metrics by customer_segment
# - Count of customers
# - Total revenue
# - Average order value

# YOUR CODE HERE
segment_metrics = None

segment_metrics

In [ ]:
# TODO: Monthly revenue trend
# YOUR CODE HERE
monthly_revenue = None

# Plot
import matplotlib.pyplot as plt

monthly_revenue.plot(kind='line', figsize=(12, 6))
plt.title('Monthly Revenue Trend')
plt.xlabel('Month')
plt.ylabel('Revenue')
plt.grid(True, alpha=0.3)
plt.show()

---
## üéØ CHALLENGE: Customer Analysis

In [ ]:
# TODO: Create comprehensive customer analysis:
# For each customer, calculate:
# - Total orders
# - Total revenue
# - Average order value
# - First order date
# - Last order date
# - Days since last order
# - Customer lifetime (days)

# YOUR CODE HERE
customer_analysis = None

customer_analysis.head(10)

---
## üìö SOLUTIONS

In [9]:
# SOLUTION 1: Basic info
print(customers_df.info())
print("\n" + "="*50)
print(customers_df.describe())

# SOLUTION 2: Missing values
print(customers_df.isna().sum())

# SOLUTION 3: Unique countries
print(customers_df['country'].value_counts())

# SOLUTION 4: Filter Vietnam
vietnam_customers = customers_df[customers_df['country'] == 'Vietnam']

# SOLUTION 5: Uppercase names
customers_df['customer_name_upper'] = customers_df['customer_name'].str.upper()

# SOLUTION 6: Extract year/month
orders_df['order_date'] = pd.to_datetime(orders_df['order_date'])
orders_df['order_year'] = orders_df['order_date'].dt.year
orders_df['order_month'] = orders_df['order_date'].dt.month

# SOLUTION 7: Categorize orders
orders_df['order_category'] = pd.cut(
    orders_df['total_amount'],
    bins=[0, 500, 2000, float('inf')],
    labels=['Small', 'Medium', 'Large']
)

# SOLUTION 8: Merge
customer_orders = pd.merge(
    customers_df,
    orders_df,
    on='customer_id',
    how='inner'
)

# SOLUTION 9: Group by country
revenue_by_country = customer_orders.groupby('country')['total_amount'].sum().sort_values(ascending=False)

# SOLUTION 10: Customer analysis
customer_analysis = customer_orders.groupby('customer_id').agg({
    'order_id': 'count',
    'total_amount': ['sum', 'mean'],
    'order_date': ['min', 'max']
}).reset_index()

customer_analysis.columns = ['customer_id', 'total_orders', 'total_revenue', 'avg_order_value', 'first_order', 'last_order']
customer_analysis['days_since_last_order'] = (pd.Timestamp.now() - customer_analysis['last_order']).dt.days
customer_analysis['customer_lifetime_days'] = (customer_analysis['last_order'] - customer_analysis['first_order']).dt.days

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customer_id       100 non-null    int64
 1   customer_name     100 non-null    object
 2   email             100 non-null    object
 3   country           100 non-null    object
 4   signup_date       100 non-null    object
 5   customer_segment  100 non-null    object
 6   created_at        100 non-null    datetime64[ns]
 7   updated_at        100 non-null    datetime64[ns]
dtypes: datetime64[ns](2), int64(1), object(5)
memory usage: 6.4+ KB
None

==================================================
       customer_id                     created_at  \
count   100.000000                            100
mean     50.500000  2025-12-14 10:05:15.115901440
min       1.000000     2025-12-14 10:05:15.115901
25%      25.750000  2025-12-14 10:05:15.115900928
50%      50.500000  2025-12-14 10:05:15.115900928
75%      75.250000  2025-12-14 10:05:15.115900928
max     100.000000     2025-12-14 10:05:15.115901
std      29.011492                            NaN

                          updated_at
count                            100
mean   2025-12-14 10:05:15.115901440
min       2025-12-14 10:05:15.115901
25%    2025-12-14 10:05:15.115900928
50%    2025-12-14 10:05:15.115900928
75%    2025-12-14 10:05:15.115900928
max       2025-12-14 10:05:15.115901
std                              NaN
customer_id         0
customer_name       0
email               0
country             0
signup_date         0
customer_segment    0
created_at          0
updated_at          0
dtype: int64
country
Albania                                         3
Ghana                                           2
Iraq                                            2
Trinidad and Tobago                             2
Saint Martin                                    2
                                               ..
British Virgin Islands                          1
Antarctica (the territory South of 60 deg S)    1
Kiribati                                        1
Cuba                                            1
Antigua and Barbuda                             1
Name: count, Length: 85, dtype: int64