# üêº B√ÄI 1: PANDAS BASICS FOR DATA ENGINEERING

## M·ª•c ti√™u:
- DataFrame operations
- Data selection & filtering
- Data manipulation
- Merging & joining
- Grouping & aggregation

In [1]:
# Setup
import pandas as pd
import numpy as np
import sys
sys.path.append('/home/jovyan/week-03-04-python-etl/scripts')

from db_connector import DatabaseConnector

# Initialize DB connection
db = DatabaseConnector()

print("‚úÖ Setup complete!")
print(f"Pandas version: {pd.__version__}")

2025-12-18 08:04:28,543 - db_connector - INFO - Database connector initialized for data_engineer@postgres

‚úÖ Setup complete!
Pandas version: 2.1.4

In [ ]:
# Load customers data
customers_df = db.read_sql("""
    SELECT * FROM analytics.customers
    LIMIT 100
""")

print(f"Shape: {customers_df.shape}")
print(f"\nColumns: {customers_df.columns.tolist()}")
print(f"\nData types:\n{customers_df.dtypes}")

customers_df.head()

---
## üìä PART 1: Loading Data from Database

In [2]:
# Load customers data
customers_df = db.read_sql("""
    SELECT * FROM analytics.customers
    LIMIT 100
""")

print(f"Shape: {customers_df.shape}")
print(f"\nColumns: {customers_df.columns.tolist()}")
print(f"\nData types:\n{customers_df.dtypes}")

customers_df.head()

/home/jovyan/week-03-04-python-etl/scripts/db_connector.py:105: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn, params=params)
2025-12-18 08:04:30,725 - db_connector - INFO - Query executed, DataFrame shape: (100, 8)

Shape: (100, 8)

Columns: ['customer_id', 'customer_name', 'email', 'country', 'signup_date', 'customer_segment', 'created_at', 'updated_at']

Data types:
customer_id                  int64
customer_name               object
email                       object
country                     object
signup_date                 object
customer_segment            object
created_at          datetime64[ns]
updated_at          datetime64[ns]
dtype: object

,customer_id,customer_name,email,country,signup_date,customer_segment,created_at,updated_at
0,1,Megan Mcclain,johnsonjoshua@example.org,Burundi,2025-11-24,Premium,2025-12-18 07:56:50.725874,2025-12-18 07:56:50.725874
1,2,Lance Hoffman,garzaanthony@example.org,Cuba,2025-01-13,Basic,2025-12-18 07:56:50.725874,2025-12-18 07:56:50.725874
2,3,Olivia Moore,lrobinson@example.com,Sudan,2025-05-21,Premium,2025-12-18 07:56:50.725874,2025-12-18 07:56:50.725874
3,4,Brandon Davis,jpeterson@example.org,Serbia,2025-04-25,Premium,2025-12-18 07:56:50.725874,2025-12-18 07:56:50.725874
4,5,Jamie Arnold,cassandra07@example.net,British Virgin Islands,2025-02-22,Basic,2025-12-18 07:56:50.725874,2025-12-18 07:56:50.725874

In [3]:
# Load orders data
orders_df = db.read_sql("""
    SELECT * FROM analytics.orders
    WHERE order_date >= CURRENT_DATE - INTERVAL '90 days'
""")

print(f"Orders shape: {orders_df.shape}")
orders_df.head()

/home/jovyan/week-03-04-python-etl/scripts/db_connector.py:105: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn, params=params)
2025-12-18 08:04:46,723 - db_connector - INFO - Query executed, DataFrame shape: (2983, 7)

Orders shape: (2983, 7)

,order_id,customer_id,order_date,order_status,total_amount,created_at,updated_at
0,4,885,2025-11-12,completed,5493.29,2025-12-18 07:56:51.048216,2025-12-18 07:56:51.048216
1,11,427,2025-10-26,completed,2200.46,2025-12-18 07:56:51.048216,2025-12-18 07:56:51.048216
2,12,991,2025-12-02,pending,7642.57,2025-12-18 07:56:51.048216,2025-12-18 07:56:51.048216
3,18,278,2025-10-15,completed,2019.20,2025-12-18 07:56:51.048216,2025-12-18 07:56:51.048216
4,19,686,2025-09-29,completed,2459.79,2025-12-18 07:56:51.048216,2025-12-18 07:56:51.048216

In [4]:
orders_df['created_at']

0      2025-12-18 07:56:51.048216
1      2025-12-18 07:56:51.048216
2      2025-12-18 07:56:51.048216
3      2025-12-18 07:56:51.048216
4      2025-12-18 07:56:51.048216
                  ...
2978   2025-12-18 07:56:56.218455
2979   2025-12-18 07:56:56.218455
2980   2025-12-18 07:56:56.218455
2981   2025-12-18 07:56:56.218455
2982   2025-12-18 07:56:56.218455
Name: created_at, Length: 2983, dtype: datetime64[ns]

---
## üéØ EXERCISE 1: Basic DataFrame Operations

In [4]:
# TODO: Display basic info about customers_df
# Hint: Use .info(), .describe(), .shape

# YOUR CODE HERE

In [5]:
# TODO: Check for missing values
# Hint: Use .isna().sum()

# YOUR CODE HERE

In [6]:
# TODO: Get unique values in 'country' column
# Hint: Use .unique() or .value_counts()

# YOUR CODE HERE

---
## üéØ EXERCISE 2: Data Selection & Filtering

In [7]:
# TODO: Select customers from Vietnam
# YOUR CODE HERE
vietnam_customers = None

print(f"Vietnam customers: {len(vietnam_customers)}")
vietnam_customers.head()

TypeError: object of type 'NoneType' has no len()

In [ ]:
# TODO: Select customers with 'Premium' segment
# YOUR CODE HERE
premium_customers = None

premium_customers.head()

In [8]:
# TODO: Select orders with total_amount > 1000
# YOUR CODE HERE
high_value_orders = None

print(f"High value orders: {len(high_value_orders)}")
high_value_orders.head()

TypeError: object of type 'NoneType' has no len()

---
## üéØ EXERCISE 3: Data Manipulation

In [ ]:
# TODO: Add new column 'customer_name_upper' with uppercase names
# YOUR CODE HERE

customers_df.head()

In [ ]:
# TODO: Create 'order_year' and 'order_month' from order_date
# Hint: Use pd.to_datetime() and .dt accessor

# YOUR CODE HERE

orders_df[['order_date', 'order_year', 'order_month']].head()

In [ ]:
# TODO: Categorize orders by amount
# Small: < 500, Medium: 500-2000, Large: > 2000
# Hint: Use pd.cut() or np.where()

# YOUR CODE HERE

orders_df['order_category'].value_counts()

---
## üéØ EXERCISE 4: Merging DataFrames

In [ ]:
# TODO: Merge customers with orders (INNER JOIN)
# YOUR CODE HERE
customer_orders = None

print(f"Merged shape: {customer_orders.shape}")
customer_orders.head()

In [ ]:
# TODO: LEFT JOIN to keep all customers
# YOUR CODE HERE
all_customers_orders = None

# Check customers without orders
no_orders = all_customers_orders[all_customers_orders['order_id'].isna()]
print(f"Customers without orders: {len(no_orders)}")

---
## üéØ EXERCISE 5: Grouping & Aggregation

In [ ]:
# TODO: Calculate total revenue by country
# YOUR CODE HERE
revenue_by_country = None

revenue_by_country

In [ ]:
# TODO: Calculate multiple metrics by customer_segment
# - Count of customers
# - Total revenue
# - Average order value

# YOUR CODE HERE
segment_metrics = None

segment_metrics

In [ ]:
# TODO: Monthly revenue trend
# YOUR CODE HERE
monthly_revenue = None

# Plot
import matplotlib.pyplot as plt

monthly_revenue.plot(kind='line', figsize=(12, 6))
plt.title('Monthly Revenue Trend')
plt.xlabel('Month')
plt.ylabel('Revenue')
plt.grid(True, alpha=0.3)
plt.show()

---
## üéØ CHALLENGE: Customer Analysis

In [ ]:
# TODO: Create comprehensive customer analysis:
# For each customer, calculate:
# - Total orders
# - Total revenue
# - Average order value
# - First order date
# - Last order date
# - Days since last order
# - Customer lifetime (days)

# YOUR CODE HERE
customer_analysis = None

customer_analysis.head(10)

---
## üìö SOLUTIONS

In [1]:
# SOLUTION 1: Basic info
print(customers_df.info())
print("\n" + "="*50)
print(customers_df.describe())

# SOLUTION 2: Missing values
print(customers_df.isna().sum())

# SOLUTION 3: Unique countries
print(customers_df['country'].value_counts())

# SOLUTION 4: Filter Vietnam
vietnam_customers = customers_df[customers_df['country'] == 'Vietnam']

# SOLUTION 5: Uppercase names
customers_df['customer_name_upper'] = customers_df['customer_name'].str.upper()

# SOLUTION 6: Extract year/month
orders_df['order_date'] = pd.to_datetime(orders_df['order_date'])
orders_df['order_year'] = orders_df['order_date'].dt.year
orders_df['order_month'] = orders_df['order_date'].dt.month

# SOLUTION 7: Categorize orders
orders_df['order_category'] = pd.cut(
    orders_df['total_amount'],
    bins=[0, 500, 2000, float('inf')],
    labels=['Small', 'Medium', 'Large']
)

# SOLUTION 8: Merge
customer_orders = pd.merge(
    customers_df,
    orders_df,
    on='customer_id',
    how='inner'
)

# SOLUTION 9: Group by country
revenue_by_country = customer_orders.groupby('country')['total_amount'].sum().sort_values(ascending=False)

# SOLUTION 10: Customer analysis
customer_analysis = customer_orders.groupby('customer_id').agg({
    'order_id': 'count',
    'total_amount': ['sum', 'mean'],
    'order_date': ['min', 'max']
}).reset_index()

customer_analysis.columns = ['customer_id', 'total_orders', 'total_revenue', 'avg_order_value', 'first_order', 'last_order']
customer_analysis['days_since_last_order'] = (pd.Timestamp.now() - customer_analysis['last_order']).dt.days
customer_analysis['customer_lifetime_days'] = (customer_analysis['last_order'] - customer_analysis['first_order']).dt.days

NameError: name 'customers_df' is not defined