In [1]:
# Setup
import pandas as pd
import numpy as np
import sys
sys.path.append('/home/jovyan/week-03-04-python-etl/scripts')

from db_connector import DatabaseConnector

# Initialize DB connection
db = DatabaseConnector()

print("âœ… Setup complete!")
print(f"Pandas version: {pd.__version__}")

2025-12-18 08:43:36,254 - db_connector - INFO - Database connector initialized for data_engineer@postgres

âœ… Setup complete!
Pandas version: 2.1.4

In [2]:
# Láº¥y danh sÃ¡ch táº¥t cáº£ cÃ¡c schema
schemas_df = db.read_sql("""
    SELECT schema_name 
    FROM information_schema.schemata
    ORDER BY schema_name
""")

print("ðŸ“Š Danh sÃ¡ch cÃ¡c Schema:")
print(schemas_df)

/home/jovyan/week-03-04-python-etl/scripts/db_connector.py:105: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn, params=params)
2025-12-18 08:43:41,634 - db_connector - INFO - Query executed, DataFrame shape: (7, 1)

ðŸ“Š Danh sÃ¡ch cÃ¡c Schema:
          schema_name
0           analytics
1  information_schema
2          pg_catalog
3            pg_toast
4              public
5                 raw
6             staging

In [3]:
# Láº¥y danh sÃ¡ch táº¥t cáº£ cÃ¡c báº£ng vÃ  schema
tables_df = db.read_sql("""
    SELECT 
        table_schema,
        table_name,
        table_type
    FROM information_schema.tables
    WHERE table_schema NOT IN ('information_schema', 'pg_catalog')
    ORDER BY table_schema, table_name
""")

print(f"\nðŸ“‹ Tá»•ng sá»‘ báº£ng: {len(tables_df)}")
print(tables_df)

/home/jovyan/week-03-04-python-etl/scripts/db_connector.py:105: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn, params=params)
2025-12-18 08:55:23,156 - db_connector - INFO - Query executed, DataFrame shape: (9, 3)

ðŸ“‹ Tá»•ng sá»‘ báº£ng: 9
  table_schema               table_name  table_type
0    analytics                audit_log  BASE TABLE
1    analytics               categories  BASE TABLE
2    analytics                customers  BASE TABLE
3    analytics              order_items  BASE TABLE
4    analytics                   orders  BASE TABLE
5    analytics                 products  BASE TABLE
6    analytics               setup_test  BASE TABLE
7       public       pg_stat_statements        VIEW
8       public  pg_stat_statements_info        VIEW

In [4]:
# Load customers data
customers_df = db.read_sql("""
    SELECT * FROM analytics.customers
    LIMIT 100
""")

print(f"Shape: {customers_df.shape}")
print(f"\nColumns: {customers_df.columns.tolist()}")
print(f"\nData types:\n{customers_df.dtypes}")

customers_df.head()

/home/jovyan/week-03-04-python-etl/scripts/db_connector.py:105: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn, params=params)
2025-12-18 08:55:45,899 - db_connector - INFO - Query executed, DataFrame shape: (100, 8)

Shape: (100, 8)

Columns: ['customer_id', 'customer_name', 'email', 'country', 'signup_date', 'customer_segment', 'created_at', 'updated_at']

Data types:
customer_id                  int64
customer_name               object
email                       object
country                     object
signup_date                 object
customer_segment            object
created_at          datetime64[ns]
updated_at          datetime64[ns]
dtype: object

,customer_id,customer_name,email,country,signup_date,customer_segment,created_at,updated_at
0,1,Megan Mcclain,johnsonjoshua@example.org,Burundi,2025-11-24,Premium,2025-12-18 07:56:50.725874,2025-12-18 07:56:50.725874
1,2,Lance Hoffman,garzaanthony@example.org,Cuba,2025-01-13,Basic,2025-12-18 07:56:50.725874,2025-12-18 07:56:50.725874
2,3,Olivia Moore,lrobinson@example.com,Sudan,2025-05-21,Premium,2025-12-18 07:56:50.725874,2025-12-18 07:56:50.725874
3,4,Brandon Davis,jpeterson@example.org,Serbia,2025-04-25,Premium,2025-12-18 07:56:50.725874,2025-12-18 07:56:50.725874
4,5,Jamie Arnold,cassandra07@example.net,British Virgin Islands,2025-02-22,Basic,2025-12-18 07:56:50.725874,2025-12-18 07:56:50.725874

In [6]:
# Load orders data
orders_df = db.read_sql("""
    SELECT * FROM analytics.products
    LIMIT 100
""")

print(f"Shape: {orders_df.shape}")
print(f"\nColumns: {orders_df.columns.tolist()}")
print(f"\nData types:\n{orders_df.dtypes}")

orders_df.head()

/home/jovyan/week-03-04-python-etl/scripts/db_connector.py:105: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn, params=params)
2025-12-18 08:59:26,351 - db_connector - INFO - Query executed, DataFrame shape: (100, 8)

Shape: (100, 8)

Columns: ['product_id', 'product_name', 'category', 'price', 'cost', 'is_active', 'created_at', 'updated_at']

Data types:
product_id               int64
product_name            object
category                object
price                  float64
cost                   float64
is_active                 bool
created_at      datetime64[ns]
updated_at      datetime64[ns]
dtype: object

,product_id,product_name,category,price,cost,is_active,created_at,updated_at
0,1,Centralized leadingedge approach,Clothing,342.85,143.67,True,2025-12-18 07:56:51.030278,2025-12-18 07:56:51.030278
1,2,Innovative reciprocal product,Clothing,588.29,417.21,True,2025-12-18 07:56:51.030278,2025-12-18 07:56:51.030278
2,3,Optional asymmetric benchmark,Electronics,968.66,410.18,True,2025-12-18 07:56:51.030278,2025-12-18 07:56:51.030278
3,4,Synergistic analyzing open architecture,Food,378.77,213.30,True,2025-12-18 07:56:51.030278,2025-12-18 07:56:51.030278
4,5,Business-focused explicit implementation,Food,313.00,125.53,True,2025-12-18 07:56:51.030278,2025-12-18 07:56:51.030278