# üìö B√ÄI T·∫¨P 1: SQL C∆† B·∫¢N

## M·ª•c ti√™u h·ªçc t·∫≠p:
- SELECT, WHERE, ORDER BY
- LIMIT, OFFSET
- Filtering v·ªõi AND, OR, IN, BETWEEN
- Pattern matching v·ªõi LIKE
- NULL handling

In [1]:
# Setup connection
import psycopg2
import pandas as pd
import os

def get_connection():
    return psycopg2.connect(
        host='postgres',
        port=5432,
        database='data_engineer',
        user='dataengineer',
        password='dataengineer123'
    )

def run_query(query):
    conn = get_connection()
    df = pd.read_sql_query(query, conn)
    conn.close()
    return df

print("‚úÖ Connection setup ready!")

‚úÖ Connection setup ready!

---
## üéØ EXERCISE 1: SELECT c∆° b·∫£n

**C√¢u h·ªèi:** L·∫•y 10 customers ƒë·∫ßu ti√™n, hi·ªÉn th·ªã t√™n, email v√† country

In [2]:
# YOUR CODE HERE
query = """
SELECT 
    customer_name,
    email,
    country
FROM analytics.customers
LIMIT 10;
"""

result = run_query(query)
print(f"üìä Found {len(result)} customers")
result

üìä Found 10 customers

/tmp/ipykernel_948/1579633788.py:17: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

       customer_name                         email                country
0    Timothy Vincent           maria99@example.org             Azerbaijan
1  Edward Williamson      mcdonaldlisa@example.com               Anguilla
2       Jessica Reed            sdavis@example.net               Thailand
3       Carrie Davis      taylorleslie@example.org          Cote d'Ivoire
4        Rita Fuller  gonzalezsamantha@example.org                 Greece
5      Kyle Mckinney          nicole67@example.net  Sao Tome and Principe
6  Jeremiah Mcdonald           amartin@example.net                  Italy
7    Jennifer Martin          ifreeman@example.net         Cayman Islands
8       Katie Flores         jessica88@example.org                  Chile
9     Denise Johnson          asherman@example.com              Indonesia

---
## üéØ EXERCISE 2: WHERE filtering

**C√¢u h·ªèi:** T√¨m t·∫•t c·∫£ customers ·ªü Vietnam

In [3]:
# YOUR CODE HERE
query = """
SELECT 
    customer_name,
    email,
    country,
    customer_segment
FROM analytics.customers
WHERE country = 'Vietnam';
"""

result = run_query(query)
print(f"üìä Found {len(result)} customers from Vietnam")
result.head()

üìä Found 2 customers from Vietnam

/tmp/ipykernel_948/1579633788.py:17: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

     customer_name                   email  country customer_segment
0  Brendan Hawkins    tracey80@example.org  Vietnam          Premium
1   Jasmin Johnson  haileyking@example.com  Vietnam         Standard

---
## üéØ EXERCISE 3: Multiple conditions

**C√¢u h·ªèi:** T√¨m Premium customers ·ªü Vietnam ho·∫∑c USA

In [ ]:
# YOUR CODE HERE
query = """
-- Write your query here
"""

result = run_query(query)
result.head()

---
## üéØ EXERCISE 4: Date filtering

**C√¢u h·ªèi:** T√¨m customers ƒëƒÉng k√Ω trong nƒÉm 2024

In [ ]:
# YOUR CODE HERE
query = """
-- Write your query here
"""

result = run_query(query)
result.head()

---
## üéØ EXERCISE 5: ORDER BY

**C√¢u h·ªèi:** Top 10 orders c√≥ total_amount cao nh·∫•t

In [ ]:
# YOUR CODE HERE
query = """
-- Write your query here
"""

result = run_query(query)
result

---
## üéØ EXERCISE 6: LIKE pattern matching

**C√¢u h·ªèi:** T√¨m products c√≥ t√™n ch·ª©a t·ª´ 'data'

In [ ]:
# YOUR CODE HERE
query = """
-- Write your query here
"""

result = run_query(query)
result.head()

---
## üéØ EXERCISE 7: BETWEEN

**C√¢u h·ªèi:** T√¨m products c√≥ gi√° t·ª´ $100 ƒë·∫øn $500

In [ ]:
# YOUR CODE HERE
query = """
-- Write your query here
"""

result = run_query(query)
result.head()

---
## üéØ EXERCISE 8: IN operator

**C√¢u h·ªèi:** T√¨m orders c√≥ status l√† 'completed' ho·∫∑c 'pending'

In [ ]:
# YOUR CODE HERE
query = """
-- Write your query here
"""

result = run_query(query)
print(f"üìä Found {len(result)} orders")
result.head()

---
## üéØ CHALLENGE: Complex query

**C√¢u h·ªèi:** T√¨m top 20 orders:
- Status = 'completed'
- Total amount > $1000
- Order date trong Q4 2024
- S·∫Øp x·∫øp theo total_amount gi·∫£m d·∫ßn

In [ ]:
# YOUR CODE HERE
query = """
-- Write your query here
"""

result = run_query(query)
result

---
## üìä SOLUTIONS

Uncomment ƒë·ªÉ xem ƒë√°p √°n

In [ ]:
# # SOLUTION 2: WHERE filtering
# query = """
# SELECT 
#     customer_name,
#     email,
#     country,
#     customer_segment
# FROM analytics.customers
# WHERE country = 'Vietnam';
# """

# # SOLUTION 3: Multiple conditions
# query = """
# SELECT *
# FROM analytics.customers
# WHERE customer_segment = 'Premium'
#   AND country IN ('Vietnam', 'United States');
# """

# # SOLUTION 4: Date filtering
# query = """
# SELECT *
# FROM analytics.customers
# WHERE signup_date >= '2024-01-01'
#   AND signup_date < '2025-01-01';
# """

# # SOLUTION 5: ORDER BY
# query = """
# SELECT 
#     order_id,
#     customer_id,
#     order_date,
#     total_amount
# FROM analytics.orders
# ORDER BY total_amount DESC
# LIMIT 10;
# """

# # SOLUTION 8: CHALLENGE
# query = """
# SELECT 
#     order_id,
#     customer_id,
#     order_date,
#     total_amount,
#     order_status
# FROM analytics.orders
# WHERE order_status = 'completed'
#   AND total_amount > 1000
#   AND order_date >= '2024-10-01'
#   AND order_date < '2025-01-01'
# ORDER BY total_amount DESC
# LIMIT 20;
# """