# ðŸ”„ BÃ€I Táº¬P 5: CTEs & SUBQUERIES

## Má»¥c tiÃªu há»c táº­p:
- Common Table Expressions (CTEs)
- Recursive CTEs
- Subqueries (scalar, row, table)
- Correlated subqueries
- EXISTS vÃ  NOT EXISTS
- ANY vÃ  ALL
- Complex query optimization

In [ ]:
# Setup
import psycopg2
import pandas as pd
import matplotlib.pyplot as plt

def get_connection():
    return psycopg2.connect(
        host='postgres',
        port=5432,
        database='data_engineer',
        user='dataengineer',
        password='dataengineer123'
    )

def run_query(query):
    conn = get_connection()
    df = pd.read_sql_query(query, conn)
    conn.close()
    return df

print("âœ… Setup ready!")

---
## ðŸŽ¯ EXERCISE 1: Simple CTE

**CÃ¢u há»i:** TÃ¬m customers cÃ³ revenue > average revenue

In [ ]:
# YOUR CODE HERE
query = """
WITH customer_revenue AS (
    SELECT 
        c.customer_id,
        c.customer_name,
        SUM(o.total_amount) as total_revenue
    FROM analytics.customers c
    INNER JOIN analytics.orders o ON c.customer_id = o.customer_id
    WHERE o.order_status = 'completed'
    GROUP BY c.customer_id, c.customer_name
),
avg_revenue AS (
    SELECT AVG(total_revenue) as avg_rev
    FROM customer_revenue
)
SELECT 
    cr.customer_name,
    cr.total_revenue,
    ar.avg_rev
FROM customer_revenue cr
CROSS JOIN avg_revenue ar
WHERE cr.total_revenue > ar.avg_rev
ORDER BY cr.total_revenue DESC;
"""

result = run_query(query)
result.head(20)

---
## ðŸŽ¯ EXERCISE 2: Multiple CTEs

**CÃ¢u há»i:** Customer segmentation:
- High value: Top 20% revenue
- Medium value: 20-80%
- Low value: Bottom 20%

In [ ]:
# YOUR CODE HERE
query = """
-- Write your query here
-- Hint: Use NTILE(5) in CTE, then CASE WHEN
"""

result = run_query(query)
result.head(20)

---
## ðŸŽ¯ EXERCISE 3: Recursive CTE

**CÃ¢u há»i:** Generate category hierarchy tree

In [ ]:
# YOUR CODE HERE
query = """
-- Write your query here
-- Hint: WITH RECURSIVE category_tree AS (...)
"""

result = run_query(query)
result

---
## ðŸŽ¯ EXERCISE 4: Scalar subquery

**CÃ¢u há»i:** Hiá»ƒn thá»‹ má»—i order vá»›i % so vá»›i average order value

In [ ]:
# YOUR CODE HERE
query = """
-- Write your query here
-- Hint: SELECT vá»›i subquery trong SELECT clause
"""

result = run_query(query)
result.head(20)

---
## ðŸŽ¯ EXERCISE 5: EXISTS

**CÃ¢u há»i:** TÃ¬m customers Ä‘Ã£ mua products tá»« Ã­t nháº¥t 3 categories khÃ¡c nhau

In [ ]:
# YOUR CODE HERE
query = """
-- Write your query here
-- Hint: Use CTE hoáº·c subquery vá»›i COUNT DISTINCT categories
"""

result = run_query(query)
result

---
## ðŸŽ¯ EXERCISE 6: Correlated subquery

**CÃ¢u há»i:** TÃ¬m most expensive product trong má»—i category

In [ ]:
# YOUR CODE HERE
query = """
-- Write your query here
-- Hint: WHERE price = (SELECT MAX(price) FROM products WHERE category = ...)
"""

result = run_query(query)
result

---
## ðŸŽ¯ CHALLENGE 1: Customer lifetime value analysis

**CÃ¢u há»i:** PhÃ¢n tÃ­ch:
- First order date
- Last order date
- Customer lifetime (days)
- Total orders
- Total revenue
- Average days between orders
- Predicted next order date

In [ ]:
# YOUR CODE HERE
query = """
-- Write your query here
"""

result = run_query(query)
result.head(20)

---
## ðŸŽ¯ CHALLENGE 2: Product recommendation

**CÃ¢u há»i:** TÃ¬m products thÆ°á»ng Ä‘Æ°á»£c mua cÃ¹ng nhau:
- Product pairs xuáº¥t hiá»‡n trong cÃ¹ng order
- Frequency cá»§a má»—i pair
- Confidence score

In [ ]:
# YOUR CODE HERE
query = """
-- Write your query here
-- Hint: SELF JOIN order_items
"""

result = run_query(query)
result.head(20)

---
## ðŸ“Š FINAL PROJECT: Executive Dashboard Query

**CÃ¢u há»i:** Táº¡o comprehensive report:
- Overall metrics (revenue, orders, customers)
- Top 10 customers
- Top 10 products
- Revenue by category
- Monthly trends
- Customer segments distribution

In [ ]:
# YOUR CODE HERE - Create multiple CTEs
query = """
-- Write your comprehensive query here
"""

result = run_query(query)
result

---
## ðŸ“š SOLUTIONS

In [ ]:
# # SOLUTION 3: Recursive CTE - Category hierarchy
# query = """
# WITH RECURSIVE category_tree AS (
#     -- Base case: root categories
#     SELECT 
#         category_id,
#         category_name,
#         parent_category_id,
#         1 as level,
#         category_name as path
#     FROM analytics.categories
#     WHERE parent_category_id IS NULL
#     
#     UNION ALL
#     
#     -- Recursive case: child categories
#     SELECT 
#         c.category_id,
#         c.category_name,
#         c.parent_category_id,
#         ct.level + 1,
#         ct.path || ' > ' || c.category_name
#     FROM analytics.categories c
#     INNER JOIN category_tree ct ON c.parent_category_id = ct.category_id
# )
# SELECT * FROM category_tree ORDER BY path;
# """